/* Custom CSS */
.container {
  max-width: 800px;
  margin: 0 auto;
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.weather-header h2 {
  font-size: 2rem;
  margin: 0;
}

.weather-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

.weather-info p {
  margin: 0.5rem;
}

.weather-info span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  .weather-card {
    padding: 1rem;
  }

  .weather-header {
    flex-direction: column;
    align-items: center;
  }

  .weather-header h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .weather-body {
    flex-direction: column;
    align-items: center;
  }

  .weather-info p {
    font-size: 1rem;
  }

  .weather__icon {
    width: 60px;
    height: 60px;
  }

  input[type="text"] {
    font-size: 1rem;
  }

  input[type="button"] {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
